.loan-calculator{
    font-family: "Roboto", sans-serif;
    width: 600px;
    margin: 24px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid black;
    
}

.loan-calculator * {
    box-sizing: border-box;

}
.top{
    background-color: #14213d;
    color:white;
    padding: 32px;
}
.top h2{
    margin-top: 0;
}

.loan-calculator form{
    display: flex;
    gap: 8px;
    justify-content: space-between;
    
}
.loan-calculator .title{
    margin-bottom: 16px;
}

.loan-calculator form input{
    font-size: 20px;
    padding: 8px 24px;
    width: 100%;
       
}

.result{
    text-align: center;
    width: 100%;
    padding: 8px 32px;
    border-top: solid black;
}

.result h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.result .value{
    
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    
}

.result .value::before{
    content:"$";
    font-size: 24px;
    font-weight: 400;
    margin-right: 6px;
    opacity: 0.4;

}

.loan-calculator .calculate-btn{
    background-color: maroon;
    color:white;
    border:none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 20px;
    
    cursor: pointer;
    margin: 12px auto;

}


@media  (max-width: 650px) {
    .loan-calculator{
        width: 90%;
        max-width: 500px;

    }
    .loan-calculator form{
        flex-direction: column;
        gap: 20px;

    }
    .loan-calculator result{
        flex-direction: column;
        text-align: center;
    }
    
}
